.empty {
  margin: 10rem auto;
  text-align: center;
  color: #102a42;
  font-size: 1.3rem;
}

.empty .link {
  text-decoration: none;
}

.empty button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
  cursor: pointer;
  padding: 15px;
  border: none;
  border-radius: 3px;
  letter-spacing: 0.3rem;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: #ab7a5f;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.empty button:hover {
  background-color: #c5a491;
  color: #102a42;
}

.cartBody {
  font-size: 1rem;
  color: #102a42;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.cartBody .menu-list {
  padding: 20px;
  border-bottom: 1px solid black;
  padding-left: 250px;
  padding-right: 250px;
}

.cartBody .sectionOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cartBody .sectionOne h4 {
  font-size: clamp(0.5rem, 5vw, 1rem);
}

.cartBody .sectionOne .delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #bb2525;
  font-size: 50px;
  color: white;
  width: 25px;
  height: 25px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  padding: 3px;
}

.cartBody .sectionOne table {
  width: 100%;
  text-align: center;
  padding-top: 5rem;
  border-bottom: 1px solid #617d98;
  border-collapse: collapse;
}

.cartBody .sectionOne table td {
  padding: 3rem 0;
}

.cartBody .sectionOne table th {
  padding: 3rem 0;
  border-bottom: 1px solid #617d98;
  color: #617d98;
  font-size: 1.5rem;
}

.cartBody .sectionOne table th h5 {
  font-weight: 400;
}

.cartBody .list .number {
  margin: 0px 20px;
}

.cartBody .list .numbeOfItems {
  font-size: 2rem;
  font-weight: 700;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.cartBody .list .numbeOfItems .count {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.cartBody .list .price {
  color: #ab7a5f;
}

.cartBody .list .totalValue {
  color: #617d98;
}

.cartBody .list .colorLabel {
  color: #617d98;
}

.cartBody .list .smallscr {
  display: none;
}

.cartBody .list-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.cartBody .list-description span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cartBody .list-description button {
  margin-top: 3px;
  margin-left: 5px;
  width: 13px;
  height: 13px;
  border: none;
  border-radius: 5px;
}

.cartBody .list-description h4 {
  margin: 0;
}

.cartBody .list-description > img {
  width: 100px;
  height: 70px;
  border-radius: 3px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
}

.cartBody .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3rem;
}

.cartBody .buttons button {
  cursor: pointer;
  padding: 8px;
  border: none;
  border-radius: 3px;
  letter-spacing: 0.3rem;
}

.cartBody .continue {
  background-color: #ab7a5f;
  color: white;
}

.cartBody .login {
  background-color: #ab7a5f;
  color: white;
  padding: 10px 0;
  width: 100%;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  letter-spacing: 0.5rem;
  margin-top: 10px;
}

.cartBody .clear {
  background-color: #222;
  color: white;
}

.cartBody .sectionTwo {
  position: relative;
  width: 100%;
  height: 300px;
  margin-top: 3rem;
}

.cartBody .sectionTwo > div {
  width: 450px;
  position: absolute;
  right: 0;
}

.cartBody .sectionTwo table {
  text-align: left;
  border-radius: 5px;
  border: 1px solid #617d98;
  padding: 30px;
  width: 100%;
}

.cartBody .sectionTwo table td {
  padding: 5px;
}

.cartBody .sectionTwo table th {
  padding: 5px;
}

.cartBody .sectionTwo table .total {
  font-size: 1.5rem;
  font-weight: 700;
}

.cartBody .sectionTwo table .total td {
  padding: 10px;
}

.cartBody .underline {
  margin-top: 1rem;
  margin-bottom: 2rem;
  background-color: #617d98;
  height: 1px;
  width: 150%;
}

.cartBody .red {
  color: transparent;
  background-color: red;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  cursor: pointer;
}

.cartBody .black {
  color: transparent;
  background-color: black;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  cursor: pointer;
}

.cartBody .green {
  color: transparent;
  background-color: green;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  cursor: pointer;
}

.cartBody .blue {
  color: transparent;
  background-color: blue;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  cursor: pointer;
}

.cartBody .yellow {
  color: transparent;
  background-color: yellow;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  cursor: pointer;
}

@media (max-width: 700px) {
  .cartBody .list .totalValue {
    display: none;
  }
  .cartBody .list .colorLabel {
    color: #617d98;
  }
  .cartBody .list .smallscr {
    display: block;
    font-size: clamp(0.5rem, 4vw, 1rem);
    font-weight: 700;
  }
  .cartBody .list .largescr {
    display: none;
  }
  .cartBody .heading {
    display: none;
  }
  .cartBody .list .numbeOfItems {
    width: 50%;
  }
  .cartBody .list .number {
    margin: 0 2px;
  }
  .cartBody .sectionTwo > div {
    left: 0;
    width: auto;
  }
}
/*# sourceMappingURL=Cart.css.map */