 @import "./StyleVariables/Variables.scss";

 .empty {
     margin: 10rem auto;
     text-align: center;
     color: $clr-grey-1;
     font-size: 1.3rem;

     .link {
         text-decoration: none;
     }

     button {
         display: flex;
         justify-content: space-between;
         margin-top: 1rem;
         cursor: pointer;
         padding: 15px;
         border: none;
         border-radius: 3px;
         letter-spacing: 0.3rem;
         margin-left: auto;
         margin-right: auto;
         color: white;
         background-color: $clr-primary-5;
         transition: all 0.3s linear;
     }

     button:hover {
         background-color: $clr-primary-7;
         color: $clr-grey-1 ;
     }
 }

 .cartBody {
     font-size: 1rem;
     color: $clr-grey-1;
     width: 90%;
     margin-left: auto;
     margin-right: auto;
     position: relative;

     .menu-list {
         padding: 20px;
         border-bottom: 1px solid black;
         padding-left: 250px;
         padding-right: 250px;
     }

     .sectionOne {
         display: flex;
         align-items: center;

         h4 {
             font-size: clamp(0.5rem, 5vw, 1rem);
         }

         .delete {
             display: flex;
             align-items: center;
             background-color: $clr-red-dark;
             font-size: 50px;
             color: white;
             width: 25px;
             height: 25px;
             border: none;
             cursor: pointer;
             border-radius: 3px;
             padding: 3px;
         }
     }

     .sectionOne table {
         width: 100%;
         text-align: center;
         padding-top: 5rem;
         border-bottom: 1px solid $clr-grey-5;
         border-collapse: collapse;


         td {
             padding: 3rem 0;
         }

         th {
             padding: 3rem 0;
             border-bottom: 1px solid $clr-grey-5;
             color: $clr-grey-5;
             font-size: 1.5rem;

             h5 {
                 font-weight: 400;
             }
         }


     }

     .list {
         .number {
             margin: 0px 20px;
         }

         .numbeOfItems {

             font-size: 2rem;
             font-weight: 700;
             user-select: none;

             .count {
                 cursor: pointer;
                 user-select: none;
             }
         }

         .price {
             color: $clr-primary-5;
         }

         .totalValue {
             color: $clr-grey-5;
         }

         .colorLabel {
             color: $clr-grey-5;
         }

         .smallscr {
             display: none;
         }
     }

     .list-description {
         display: flex;
         align-items: center;
         text-align: left;

         span {

             display: flex;
             align-items: center;
         }

         button {
             margin-top: 3px;
             margin-left: 5px;
             width: 13px;
             height: 13px;
             border: none;
             border-radius: 5px;
         }

         h4 {
             margin: 0;
         }

         >img {
             width: 100px;
             height: 70px;
             border-radius: 3px;
             object-fit: cover;
             margin-right: 10px;
         }
     }

     .buttons {
         display: flex;
         width: 100%;
         justify-content: space-between;
         margin-top: 3rem;

         button {
             cursor: pointer;
             padding: 8px;
             border: none;
             border-radius: 3px;
             letter-spacing: 0.3rem;
         }
     }

     .continue {
         background-color: $clr-primary-5;
         color: white;
     }

     .login {
         background-color: $clr-primary-5;
         color: white;
         padding: 10px 0;
         width: 100%;
         cursor: pointer;
         border: none;
         border-radius: 5px;
         letter-spacing: 0.5rem;
         margin-top: 10px;
         transition: all 0.3s ;
     }

     .login:hover {
         background-color: $clr-primary-7;
         color: $clr-grey-1;
     }

     .clear {
         background-color: $clr-black;
         color: white;
         margin: 0;
     }

     .sectionTwo {
         position: relative;
         width: 100%;
         height: 300px;
         margin-top: 3rem;

         >div {
             width: 450px;
             position: absolute;
             right: 0;
         }

         table {
             text-align: left;
             border-radius: 5px;
             border: 1px solid $clr-grey-5;
             padding: 30px;
             width: 100%;

             td {
                 padding: 5px;
             }

             th {
                 padding: 5px;
             }

             //  button {

             //  }

             .total {
                 font-size: 1.5rem;
                 font-weight: 700;

                 td {
                     padding: 10px;
                 }
             }
         }
     }

     .underline {
         margin-top: 1rem;
         margin-bottom: 2rem;
         background-color: $clr-grey-5;
         height: 1px;
         width: 150%;
     }

     .red {
         color: transparent;
         background-color: red;
         border: none;
         width: 20px;
         height: 20px;
         border-radius: 100%;
         cursor: pointer;
     }

     .black {
         color: transparent;
         background-color: black;
         border: none;
         width: 20px;
         height: 20px;
         border-radius: 100%;
         cursor: pointer;
     }

     .green {
         color: transparent;
         background-color: green;
         border: none;
         width: 20px;
         height: 20px;
         border-radius: 100%;
         cursor: pointer;
     }

     .blue {
         color: transparent;
         background-color: blue;
         border: none;
         width: 20px;
         height: 20px;
         border-radius: 100%;
         cursor: pointer;
     }

     .yellow {
         color: transparent;
         background-color: yellow;
         border: none;
         width: 20px;
         height: 20px;
         border-radius: 100%;
         cursor: pointer;
     }
 }

 @media (max-width: 700px) {
     .cartBody {

         .list {


             .totalValue {
                 display: none;
             }

             .colorLabel {
                 color: $clr-grey-5;
             }

             .smallscr {
                 display: block;
                 font-size: clamp(0.5rem, 4vw, 1rem);
                 font-weight: 700;
             }

             .largescr {
                 display: none;
             }
         }

         .heading {
             display: none;
         }

         .list {
             .numbeOfItems {
                 width: 50%;
             }

             .number {
                 margin: 0 2px;
             }
         }

         .sectionTwo>div {
             left: 0;
             width: auto;
         }
     }
 }