 @import "./StyleVariables/Variables.scss";

 .layout {
     margin-top: 2rem;

     nav {
         margin-left: 2rem;
         margin-right: 2rem;
         display: flex;
         justify-content: space-between;
         align-items: center;
         height: 30px;
         margin-bottom: 2rem;

         :nth-child(3) {
             display: flex;
             justify-content: space-between;
             width: 20%;
             font-size: 1.5rem;
             color: $clr-grey-1;

             :nth-child(1) {
                 display: flex;
                 align-items: center;
                 justify-content: space-between;
                 text-decoration: none;
                 color: $clr-grey-1;

                 :nth-child(2) {
                     margin-left: 1rem;
                 }

                 .cart {
                     position: relative;
                     width: 40px;
                     height: 50px;
                     padding-top: 15px;

                     .numberOfItems {
                         cursor: pointer;
                         position: absolute;
                         top: 0;
                         right: 0;
                         background-color: $clr-primary-5;
                         height: 25px;
                         width: 25px;
                         border-radius: 50px;
                         color: white;
                         display: flex;
                         justify-content: space-around;
                         align-items: center;
                         font-size: 0.8rem;
                     }
                 }
             }

             .login {
                 width: 100px;
                 display: flex;
                 align-items: center;
                 text-decoration: none;
                 color: $clr-grey-1;
                margin-top: 2px;
                :nth-child(1) {
                    margin-left: 0.6rem;
                    margin-right: 0.5rem;
                 }
             }
         }

         .pagesLink {
             display: flex;
             justify-content: space-between;
             width: 25%;
             height: 100%;

             .link {
                 text-decoration: none;
                 padding-bottom: 10px;
                 color: $clr-grey-3;
                 font-size: 1.3rem;
                 width: initial;
                 cursor: pointer;
             }

             .link:hover {
                border-bottom: 3px solid $clr-primary-5;
             }
         }

     }

     .navigation {
         width: 100%;
         height: 150px;
         background-color: $clr-primary-10;
         display: flex;
         align-items: center;
         padding-left: 10%;
         margin-bottom: 2rem;
         text-transform: capitalize;

         h1 {
             font-size: clamp(1.5rem, 5vw, 2rem);


             .home {
                 color: $clr-primary-3;
                 text-decoration: none;
             }

             .path {
                 color: $clr-primary-1;
                 text-decoration: none;
             }
         }
     }

     main {
         min-height: 100vh;
     }

     .sectionFive {
         background-color: black;
         height: 70px;
         display: flex;
         justify-content: center;
         align-items: center;
         margin-top: 2rem;

         .copyRight {
             // background-color: pink;
             height: 40px;
             margin-left: auto;
             margin-right: auto;

             .data {
                 color: $backgroundColor;
             }

             .comfy {
                 color: $clr-primary-5;
             }

             .right {
                 color: $backgroundColor;
             }
         }
     }



     .hamBurgerMenu {
         display: none;
     }

     .navPageNone {
         transform: translateX(-100%);
     }

     .navPage {
         transition: all 0.3s;
         background-color: white;
         position: fixed;
         height: 110vh;
         width: 100vw;
         z-index: 100;
         top: 0%;
         padding-top: 1.5rem;

         .topBar {
             display: flex;
             justify-content: space-between;
             width: 90%;
             margin-left: auto;
             margin-right: auto;

             div {
                 font-weight: 1000;
                 font-size: 2.5rem;
                 color: $clr-red-dark;
                 cursor: pointer;
             }

         }

         a {
             text-decoration: none;
             color: $clr-grey-1;

             .link {
                 cursor: pointer;
                 width: 100%;
                 text-decoration: none;
                 padding: 0.6rem;
                 transition: all 0.5s linear;
             }

             .link:hover {
                 padding: 1rem;
                 background-color: $clr-grey-8;
             }

         }

         .iconsCon {
             display: flex;
             justify-content: center;
             margin-left: auto;
             margin-right: auto;
             margin-top: 5rem;

             .cart {
                 display: flex;
                 font-size: 2rem;
                 color: $clr-grey-1;
                 align-items: center;

                 .shop {
                     position: relative;
                     width: 40px;
                     height: 50px;
                     margin-left: 1rem;
                     margin-top: 10px;

                     .numberOfItems {

                         cursor: pointer;
                         position: absolute;
                         top: -15%;
                         right: -15%;
                         background-color: $clr-primary-5;
                         height: 25px;
                         width: 25px;
                         border-radius: 50px;
                         color: white;
                         display: flex;
                         justify-content: space-around;
                         align-items: center;
                         font-size: 0.8rem;
                     }
                 }
             }

             .login {
                 font-size: 2rem;
                 margin-top: 3px;
                 display: flex;
                 align-items: center;
                 color: $clr-grey-1;
                 margin-left: 1rem;

                 div {
                     margin-right: 1rem;
                 }
             }
         }
     }
 }

 @media (max-width: 770px) {
     .layout .hamBurgerMenu {
         display: block;
         font-size: 2.5rem;
         color: $clr-primary-5;
         cursor: pointer;
     }

     .layout nav .pagesLink {
         display: none;
     }

     .layout nav :nth-child(3) :nth-child(1) {
         display: none;
     }

     .layout nav :nth-child(3) .login {
         display: none;
     }
 }