.productBody h1 {
  color: #102a42;
}

.productBody .section2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
  width: 100%;
}

.productBody .section2 ul {
  list-style: none;
}

.productBody .section2 .sideBar {
  width: 100%;
  height: 100%;
}

.productBody .section2 .classify {
  margin-left: 30%;
  position: relative;
}

.productBody .section2 .classify .search {
  border: none;
  outline: none;
  background-color: #f1f5f8;
  padding: 0.5rem;
  border-radius: 3px;
}

.productBody .section2 main {
  height: 100%;
  position: relative;
}

.productBody .section2 .sortContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.productBody .section2 .sortContainer .arrange {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
}

.productBody .section2 .sortContainer .arrange div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  padding: 4px 4px;
  cursor: pointer;
  color: black;
  background-color: white;
}

.productBody .section2 .sortContainer .arrange .clicked {
  color: white;
  background-color: black;
}

.productBody .section2 .sortContainer .productfound {
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #324d67;
  font-size: 0.9rem;
}

.productBody .section2 .sortContainer .thinline {
  height: 1px;
  width: 80%;
  background-color: #bcccdc;
}

.productBody .section2 .sortContainer select {
  border: none;
  outline: none;
  font-size: 1.1rem;
  cursor: pointer;
  margin-left: 5px;
}

.productBody .section2 .sortContainer .sort {
  font-size: 1.1rem;
}

.productBody .section2 .container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  padding-top: 3rem;
}

.productBody .section2 .imagContainer {
  height: 90%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 100%;
  overflow-y: scroll;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.productBody .section2 .imagContainer .image-price {
  width: 100%;
  height: 200px;
  grid-column-end: auto;
  position: relative;
}

.productBody .section2 .imagContainer .image-price .black {
  border-radius: 5px;
  height: 90%;
  position: absolute;
  width: 100%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.productBody .section2 .imagContainer .image-price .searchContainer {
  height: 35px;
  width: 35px;
  border-radius: 50px;
  background-color: #ab7a5f;
  cursor: pointer;
  position: absolute;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productBody .section2 .imagContainer .image-price .searchContainer .img {
  height: 50%;
  width: 50%;
  position: absolute;
  z-index: 10;
}

.productBody .section2 .imagContainer .image-price .item-image {
  width: 100%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productBody .section2 .imagContainer .image-price .item-image .pic {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.productBody .section2 .imagContainer .image-price .hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.productBody .section2 .imagContainer .none {
  display: none;
}

.productBody .section2 .imagContainer .priceing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.productBody .section2 .imagContainer .priceing .price {
  color: #ab7a5f;
}

.productBody .section2 .imagContainer::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}

.display-none {
  display: none;
}

.imagContainerTwo {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 90%;
  width: 100%;
}

.imagContainerTwo .image-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 2rem;
}

.imagContainerTwo .image-price .priceing {
  line-height: 2.5rem;
  width: 60%;
  padding-top: 1rem;
}

.imagContainerTwo .image-price p {
  line-height: 1rem;
  color: #324d67;
}

.imagContainerTwo .image-price .detail {
  background-color: #ab7a5f;
  width: 50px;
  height: initial;
  vertical-align: middle;
  line-height: 1rem;
  margin-top: 1.1rem;
  cursor: pointer;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3px;
  border-radius: 3px;
  font-size: 10px;
}

.imagContainerTwo .image-price .detail:hover {
  background-color: #c5a491;
  color: #102a42;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.imagContainerTwo::-webkit-scrollbar {
  display: none;
}

.image {
  width: 300px;
  height: 200px;
  margin-right: 1rem;
}

.image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.category .categoryChild {
  background-color: blue;
  width: inherit;
  color: red;
  cursor: pointer;
}

.category button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  text-align: start;
  margin-bottom: 7px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #617d98;
}

.category .activecat {
  -webkit-box-shadow: 0px 1px 0px #617d98;
          box-shadow: 0px 1px 0px #617d98;
}

.classify select {
  border: none;
  background-color: #f1f5f8;
  padding: 0.5rem 1.2rem;
  border-radius: 2px;
}

.activeColor {
  opacity: 1;
  border-bottom: 1px solid #617d98;
  border-top: none;
  border-left: none;
  border-right: none;
}

.noneActiveColor {
  opacity: 0.5;
  border: none;
}

.color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.color .check {
  position: absolute;
  top: 15%;
  left: 8%;
  color: white;
}

.color .notChecked {
  display: none;
}

.color .btnWapper {
  position: relative;
  cursor: pointer;
}

.color .All {
  background-color: transparent;
  width: 20px;
  height: 20px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #617d98;
}

.color .red {
  color: transparent;
  background-color: red;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  cursor: pointer;
}

.color .black {
  color: transparent;
  background-color: black;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  cursor: pointer;
}

.color .green {
  color: transparent;
  background-color: green;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  cursor: pointer;
}

.color .blue {
  color: transparent;
  background-color: blue;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  cursor: pointer;
}

.color .yellow {
  color: transparent;
  background-color: yellow;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  cursor: pointer;
}

.clear {
  cursor: pointer;
  margin: 1rem 0;
  letter-spacing: 0.2rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  background-color: #bb2525;
  color: white;
}

.freeShiping {
  cursor: pointer;
}

h4 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #102a42;
}

h5 {
  font-size: 1.01rem;
  color: #b99179;
}

.freeShipping {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem 0;
}

@media (max-width: 990px) {
  .color {
    width: 50%;
  }
}

@media (max-width: 990px) {
  .productBody .section2 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .productBody .section2 .classify {
    width: 70%;
    margin-left: 5%;
  }
  .productBody .section2 .sortContainer .thinline {
    width: 100%;
  }
  .productBody .section2 .sortContainer .productfound {
    width: 100%;
    height: 30px;
    margin: 10px 0;
  }
}
/*# sourceMappingURL=ProductPage.css.map */